body {
    font-family: Arial, sans-serif;
    background: #fbd4d4;
    margin: 0;
    padding: 0;
}

header {
    background: #c8e3ff;
    color: rgb(69, 253, 13);
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
}