<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Webpage from jenkin</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
        <header>
        <h1>Welcome to My Flask Static Website</h1>
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" width="120">
    </header>

    <section>
        <p>This is a static webpage served using Flask.</p>
        <h3>Batch 73</h3>
    </section>

</body>
</html>